<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Define o manipulador para o arquivo principal do Node.js -->
      <add name="NodeHandler" path="app.js" verb="*" modules="node" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="API" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <!-- Se o arquivo solicitado não for um arquivo físico -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Se o diretório solicitado não for um diretório físico -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- Roteia todas as solicitações para o arquivo principal do Node.js -->
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>